
.chat-toolbar,
.inbox-toolbar { 
  padding: 4px !important; 
  height: 50px !important;
}

.chat-message-list,
.inbox-message-list { top: 50px !important;}


/* chat window */

#chat li[class*='message'] { padding: 3px !important }

#chat li[class*="message"] .single-view-link {
  padding-left:2px !important;
}

#chat .single-view-link.mini-icon {
  position: relative !important;
  float: left !important;
  padding: 0px !important;
}


/* inbox */

#avatar-list .user {
  margin-bottom: 0 !important;
  margin-right: 3px !important;
}

.excerpt { color: #888 !important;}

.inbox-message-list .avatar { 
  width: 40px !important; 
  height: 40px !important; 
  margin-right:5px !important;
}
.inbox-message-list .avatar .type-icon {
  width:16px !important;
  height:16px !important;
  font-size: 8px;
}

.inbox-message-list .inbox-message { 
  padding: 5px 0px !important;
}
.inbox-message-list .inbox-message .title { 
  font-size: 12px !important;
}

.inbox-message-list .inbox-message .excerpt { 
  font-size: 12px !important;
  max-height: 40px !important;  
  margin-bottom: 4px !important;
}
.inbox-message-list .inbox-message .commit { 
  height: 23px !important;
}

.inbox-message-list .inbox-message .meta {
  font-size: 12px !important;
}

.inbox-message-list .inbox-message .items {
 font-size: 12px !important; 
}

.inbox-message-list .inbox-message .timestamp {
  color: #ccc !important;
}


.inbox-message-list .inbox-message .message-actions {
  position:absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  top: 48px !important;
  right: auto !important;
  z-index: 1000 !important;
}
.inbox-message-list .inbox-message .message-actions button {
  padding: 0px !important;
}

.dropdown-menu.pull-right, .pull-right.mentions-dropdown {
  right: -180px !important;
  top: 10px !important;
}

/* View mailbox item */

#single .single-view-close-button {
  position: relative !important;
  margin-top: 60px !important;
  padding: 0px !important;
  width: auto !important;
  top: auto !important;
  left: auto !important;
}

#single .single-view-close-button span {
  position:relative !important;
  top: auto !important;
  left: auto !important;
  width: auto !important;
}

#single .single-view-content {
  left: 2em !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
}

.single-message .single-message-actions {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
}

.single-message .single-message-avatar {
  margin: 0px 2px 0px 0px !important;
  width: 3em !important;
  height: 3em !important;
}

.single-message .single-message-header, .single-message .single-message-body {
  margin-bottom: 5px !important;
  padding-bottom: 5px !important;
}

.single-message .single-message-body table.headers{
  margin: 5px 0px !important;
}
*/
